<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO List</title>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <div id="todo-table">
        <h1>My Todo List</h1>
        <form action="/todo">
            <input type="text" name="item" placeholder="Add new item ..." required>
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <li>item1</li>
            <li>item2</li>
            <li>item3</li>
            <li>item4</li>
            <li>item5</li>
            <li>item6</li>
        </ul>
    </div>
</body>
</html>